extends layout

block content
    h1=title
    if errors
        for error in errors
            p.text-danger #{error.msg}
    form(method='POST' action='')
        div.form-group
            label(for='first_name') First Name:
            input#first_name.form-control(
                type='text'
                placeholder='First name (Christian) last'
                name='first_name'
                value=(author === undefined ? '' : author.first_name)
            )
            label(for='family_name') Family Name:
            input#family_name.form-control(
                type='text'
                placeholder='Family name (surname)'
                name='family_name'
                required='true'
                value=(author === undefined ? '' : author.family_name)
            )
        div.form-group
            label(for='date_of_birth') Date of birth:
            input#date_of_birth.form-control(
                type='date'
                placeholder='dd/mm/yyyy'
                name='date_of_birth'
                value=(author === undefined ? '' : author.date_of_birth_f)
            )
            label(for='date_of_death') Date of death:
            input#date_of_death.form-control(
                type='date'
                placeholder='dd/mm/yyyy'
                name='date_of_death'
                value=(author === undefined ? '': author.date_of_death_f)
            )
        button.btn.btn-primary(type='submit') Submit