extends layout

block content
    h1= title
    hr
    if !user_view
        - bookinstance_list.sort((a, b) => {let res = a.book.title.localeCompare(b.book.title); if (res !== 0) return res; return a.imprint.localeCompare(b.imprint)})
    ul
        each inst in bookinstance_list
            li
                a(href=inst.url) #{inst.book.title}

                span  : #{inst.imprint}
                br
                case inst.status
                    when 'Available'
                        span.text-success #{inst.status}
                    when 'Maintenance'
                        span.text-danger #{inst.status}
                    default
                        span.text-warning #{inst.status}

                if inst.status !== 'Available'
                    span  |
                    if inst.overdue
                        span.text-danger  #[strong Due: #{inst.due_back_formatted}]
                    else
                        span.text-info  Due: #{inst.due_back_formatted}
            br

        else
            li There are no book copies in this library.
    if !user_view
        include _paginate