extends layout

block content
    h1 Title: #{book.title}

    p #[strong Author:]
        a(href=book.author.url)  #{book.author.name}
    p #[strong Summary:] #{book.summary}
    p #[strong ISBN:] #{book.isbn}
    p #[strong Genre:]&nbsp;
        each genre_val, index in book.genre
            a(href=genre_val.url) #{genre_val.name}
            if index < book.genre.length - 1
                |,&nbsp;

    div(style='margin-let:20px;margin-top:20px')
        h4 Copies

        each inst in book_instances
            hr
            //if inst.status === 'Available'
            //    p.text-success #{inst.status}
            //else if inst.status === 'Maintenance'
            //    p.text-danger #{inst.status}
            //else
            //    p.text-warning #{inst.status}
            //
            case inst.status
                when 'Available'
                    p.text-success #{inst.status}
                when 'Maintenance'
                    p.text-danger #{inst.status}
                default
                    p.text-warning #{inst.status}

            p #[strong Imprint:] #{inst.imprint}
            if inst.status !== 'Available'
                p #[strong Due back:] #{inst.due_back}
            p #[strong Id:]&nbsp;
                a(href=inst.url) #{inst._id}
        else
            p There are no copies of this book in the library.