extends layout

block content
    h1 #{title}
    if errors
        div#user-error-box.alert.alert-danger
            for error in errors
                p - #{error.msg}
    form(method='POST' action='')
        div.form-group
            label(for='name') Genre:
            input#name.formcontrol(type='text',
                placeholder='fantacy, Poetry etc.'
                name='name'
                value=(genre === undefined ? '' : genre.name))
        button.btn.btn-primary(type='submit') Submit