extends ../blank_layout

block center-content
    if info
        div#logout-msg
            div#user-info-box.alert.alert-success
                p #{info}
    h1#register-title= title
    div#user-form-block
        if errors || err_message
            div#user-error-box.alert.alert-danger
                if errors
                    for error in errors
                        p - #{error.msg}
                if err_message
                    p - #{err_message}
        br
        form#user-register-form(method='POST' action='')
            hr
            div.form-group
                label(for='username') Username:
                input#username.user-register.form-control(
                    type='text'
                    placeholder='Enter your username'
                    name='username'
                    required='true'
                    value=(!user ? '' : user.username)
                )
            div.form-group
                label(for='password') Password:
                input#password.user-register.form-control(
                    type='password'
                    placeholder='Enter your password'
                    name='password'
                    required='true'
                )
            p
                a(href='/users/register') New user? Register here
            div
                button.btn.btn-primary#user-submit-button(type='submit') Sign in